.omok_game {
  --space-width: 70px;
  --space-height: 70px;
}
* {margin: 0;user-select: none;box-sizing: border-box;}
#wrap {width: 100%;height: 100vh;position: relative;transform-origin: 0 0;overflow: hidden;}
#bg {filter: blur(2px) contrast(0.5);position: absolute;inset: 0;pointer-events: none;}
aside {text-align: center;font-size: 30px;position: absolute;inset: 20px auto 0 20px;}
aside dl dt {margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #aaa;font-weight: bold;}
aside dl dd {line-height: 1.5;position: relative;}
aside dl dd.on {color: #fff}
aside dl dd:after {content: '';margin: auto;width: 3px;height: 70%;position: absolute;inset: 7px -11px auto auto;}
aside dl dd.on:after {background-color: tomato;}
article {display: flex;justify-content: center;align-items: center;}
#plate {display: grid;grid: auto-flow var(--space-width) / repeat(11, var(--space-height));position: relative;}
#plate:before {content: '';background-color: rgba(255,255,255,.8);position: absolute;inset: calc(var(--space-width)/2) calc(var(--space-width)/2*-1) calc(var(--space-width)/2*-1) calc(var(--space-width)/2);}
#plate div {border-right: 1px solid;border-bottom: 1px solid;position: relative;}
#plate div:nth-child(11n+1) {border-bottom: 0;}
#plate div:nth-child(n+0):nth-child(-n+11) {border-right: 0;}
#plate div span {width: 70%;height: 70%;border-radius: 50%;position: absolute;inset: 65% auto auto 65%;cursor: pointer;z-index: 1;}
#plate div span.b, #plate div span.w {pointer-events: none;}
#plate div span.b {background-color: black;}
#plate div span.w {background-color: white;box-shadow: inset 0 0 10px rgba(0,0,0,0.2);}
.reset {padding: 10px 20px;font-size: 30px;box-shadow: 0 0 7px rgba(0,0,0,.5);border-radius: 10px;position: absolute;inset: 200px auto auto 20px;cursor: pointer;}
.reset.hide {display: none;}